{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Empresario{% endblock %}

{% block body %}

{# Barra de navegación #}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Guía Comercial</a>
            </div>
            <ul class="nav navbar-nav">
                <li {#class="active"#}><a href="{{path('empresario')}}">Inicio</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Empresas <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('buscarEmpresaEmp')}}">Mis Empresas</a></li>
                        <li><a href="{{path('registrarEmpresaEmp')}}">Registrar empresa</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Comercios <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('buscarComercioEmpresarioEmp')}}">Mis Comercios</a></li>
                        <li><a href="{{path('buscarComercioEmp')}}">Buscar comercio</a></li>
                        <li><a href="{{path('registrarComercioEmp')}}">Registrar comercio</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Ofertas <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('empresarioOfertas')}}">Mis Ofertas</a></li>
                        <li><a href="{{path('buscarOfertaEmp')}}">Buscar oferta</a></li>
                        <li><a href="{{path('registrarOfertaEmp')}}">Registrar oferta</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Notificaciones <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('empresarioNotificaciones')}}">Notificaciones activadas</a></li>
                        <li><a href="{{path('buscarComercioEmp')}}">Buscar un comercio</a></li>
                    </ul>
                </li>
                <li><a href="{{path('ayudaEmpresario')}}">Ayuda</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Mi perfil</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{path('verPerfilEmp')}}">Ver mi perfil</a></li>
                        <li><a href="{{path('editarPerfilEmp')}}">Editar mi perfil</a></li>
                        <li><a href="{{path('borrarPerfilEmp')}}">Borrar mi perfil</a></li>
                    </ul>
                </li>
                <li><a href="{{path('app_logout')}}"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</a></li>
            </ul>
        </div>
    </nav>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper" style="margin-top:60px">
    <h1>{{ controller_name }}</h1>

</div>
{% endblock %}
