{% extends 'cliente/index.html.twig' %}

{% block title %}{{parent()}} - Ayuda{% endblock %}

{% block body %}

{{parent()}}

{# Barra de navegación #}

{#
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Guía Comercial</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{path('cliente')}}">Inicio</a></li>
                <li><a href="#">Mis Ofertas</a></li>
                <li><a href="#">Notificaciones</a></li>
                <li class="active"><a href="{{path('ayudaCliente')}}">Ayuda</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Mi perfil</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Ver mi perfil</a></li>
                        <li><a href="#">Editar mi perfil</a></li>
                        <li><a href="#">Borrar mi perfil</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</a></li>
            </ul>
        </div>
    </nav>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }}! ✅</h1>
</div>

#}

{% endblock %}