{% extends 'principal/index.html.twig' %}

{% block title %}Guía Comercial - Consultar Comercio{% endblock %}

{% block body %}

{{parent()}}

{# {{form(formulario)}} #}

{{dump(comercio)}}

<div id="informacionGeneral">
        
        <div class="form-row">
            <div id="campo_nombreComercio" class="form-group col-md-6">
                {{ form_label(formulario.nombre_comercio)}}
                {{ form_widget(formulario.nombre_comercio, {'attr':{'disabled':'disabled'} })}}
            </div>
        </div>

        <div class="form-row">    
            <div id="campo_direccionComercio" class="form-group col-md-6">
                {{ form_label(formulario.direccion_comercio)}}
                {{ form_widget(formulario.direccion_comercio, {'attr':{'disabled':'disabled'} })}}
            </div>
        </div>

        <div class="form-row">
            <div id="campo_codigoPostal" class="form-group col-md-6">
                {{ form_label(formulario.codigo_postal) }}
                {{ form_widget(formulario.codigo_postal, {'attr':{'disabled':'disabled'} })}}
            </div>
        </div>

        <div class="form-row">
            <div id="campo_telefonoComercio" class="form-group col-md-6">
                {{ form_label(formulario.telefono_comercio) }}
                {{ form_widget(formulario.telefono_comercio, {'attr':{'disabled':'disabled'} })}}
            </div>    
        </div>

        <div class="form-row">
            <div id="campo_webComercio" class="form-group col-md-6">
                {{ form_label(formulario.web_comercio) }}
                {{ form_widget(formulario.web_comercio, {'attr':{'disabled':'disabled'} })}}
            </div>
        </div>
    </div>

{% endblock %}