{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Página principal{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

{{parent()}}

<div class="example-wrapper" style="margin-top:60px">
    <h1>{{ controller_name }} ✅</h1>
</div>

{% endblock %}

{#

{% block article %}
    <div class="">
        {% if is_granted("ROLE_ADMINISTRADOR")%}
            <div><h2 class="font-weight-bold right"> <img height="100" src="{{ asset('public/images/usuarios/cliente.png') }}" ADMINISTRADOR</h2>
            </div>
            <br><br>
            <div class="row">
                <div class="column form-group col-md-4 lineTop lineRight lineLeft lineBottom">
                    <div class="center m5 h50px">
                        <a class="boton_ppal no_sub mb20 noFloat" href="{{ path('') }}">Usuarios</a>
                    </div>
                    <div class="center m5 h50px">
                        <a class="boton_ppal no_sub mb20 noFloat" href="{{ path('') }}">Empresas</a>
                    </div>
                    <div class="center m5 h50px">
                        <a class="boton_ppal no_sub mb20 noFloat" href="{{ path('') }}">Comercios</a>
                    </div> 
                    <div class="center m5 h50px">
                        <a class="boton_ppal no_sub mb20 noFloat" href="{{ path('') }}">Ofertas</a>
                    </div>
                </div>
                <div class="column form-group col-md-4 lineTop lineRight lineLeft lineBottom">
                    <div class="center m5 h50px">
                        <a class="boton_ppal no_sub mb20 noFloat mr0" href="{{ path('') }}">Copias de seguridad</a>
                    </div>
                    <div class="center m5 h50px">
                        <a class="boton_ppal no_sub mb20 noFloat mr0" href="{{ path('') }}">Ayuda</a>
                    </div>
                </div>   
            </div>    
        
        {%elseif is_granted("ROLE_EMPRESARIO")%}
            <div><h2 class="font-weight-bold right"><img height="100" src="{{ asset('public/images/usuarios/empresario.png') }}" />EMPRESARIO</h2></div>
            <br><br>
            <div class="row">
                <div class="column form-group col-md-4 lineTop lineRight lineLeft lineBottom">
                    <div class="center m5 h50px">
                        <a class="boton_ppal no_sub mb20 noFloat mr0" href="{{ path('', {'correo_usuario': app.user.username}) }}">Datos Personales</a>
                    </div>
                </div>
                <div class="column form-group col-md-4 lineTop lineRight lineLeft lineBottom">
                    <div class="center m5 h50px">
                        <a class="boton_ppal no_sub mb20 noFloat mr0" href="{{ path('') }}">Mis Empresas</a>
                    </div>
                    <div class="center m5 h50px">
                        <a class="boton_ppal no_sub mb20 noFloat mr0" href="{{ path('') }}">Mis Comercios</a>
                    </div>
                    <div class="center m5 h50px">
                        <a class="boton_ppal no_sub mb20 noFloat mr0" href="{{ path('') }}">Ofertas</a>
                    </div>
                    <div class="center m5 h50px">
                        <a class="boton_ppal no_sub mb20 noFloat mr0" href="{{ path('') }}">Ayuda</a>
                    </div>
                </div>   
            </div>
        
        {%elseif is_granted("ROLE_CLIENTE")%}
            <div><h2 class="font-weight-bold right"><img height="100" src="{{ asset('public/images/usuarios/cliente.png') }}" />CLIENTE</h2></div>
            <br><br>
            <div class="row">
                <div class="column form-group col-md-4 lineTop lineRight lineLeft lineBottom">
                    <div class="center m5 h50px">
                        <a class="boton_ppal no_sub mb20 noFloat mr0" href="{{ path('gestion_datosPersonalesCliente', {'correo_cliente': app.user.username}) }}">Datos Personales</a>
                    </div>
                </div>
                <div class="column form-group col-md-4 lineTop lineRight lineLeft lineBottom">
                    <div class="center m5 h50px">
                        <a class="boton_ppal no_sub mb20 noFloat mr0" href="{{ path('') }}">Mis Ofertas</a>
                    </div>
                    <div class="center m5 h50px">
                        <a class="boton_ppal no_sub mb20 noFloat mr0" href="{{ path('') }}">Notificaciones</a>
                    </div>
                    <div class="center m5 h50px">
                        <a class="boton_ppal no_sub mb20 noFloat mr0" href="{{ path('') }}">Ayuda</a>
                    </div>
                </div>    
            </div>
        {%else%}
               
        {%endif%} 
    </div>
{% endblock %}

#}
